meta(charset='utf8')
title= name
if environment == 'development'
	link(rel='stylesheet', href='/css/global.css')
	script(src='/js/jquery/jquery.min.js')
	script(src='/js/bootstrap/bootstrap.js')
else 
	link(rel='stylesheet', href='#{baseUrl}/css/global.css')
	script(src='#{baseUrl}/js/jquery/jquery.min.js')
	script(src='#{baseUrl}/js/bootstrap/bootstrap.js')