meta(charset='utf8')
title= name
link(rel='stylesheet', href='#{baseUrl[environment]}/css/global.css')
script(src='#{baseUrl[environment]}/js/jquery/jquery.min.js')
script(src='#{baseUrl[environment]}/js/bootstrap/bootstrap.js')