.container
    .jumbotron
        h1 एक छोटी से कोशिश, गीता को साधारण हिंदी में समझाने की
        //- p Bootstrap boilerplate for Harp is successfully installed.
        p
            a.btn.btn-primary.btn-lg(href="#{baseUrl[environment]}/chapters/chapter-1") पहला अध्याय